/* Glboal/Application wide font face styles */
@font-face {
  font-family: 'ORSWebFont',
  src: url('../fonts/fontawesome-webfont.woff') format('woff'),
       url('../fonts/icommon.woff') format('woff'),
       url('../fonts/DroidSansMono.ttf') format('truetype');
}

.row {
  margin-right: 0;
  margin-left: 0;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table thead tr th {
  text-align: center;
}

.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}

.modal-dialog {
  height: 100%;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}

.modal-body {
  overflow-y: auto;
}

.overflow {
  overflow-y: auto;
  max-height: 250px;
}

legend {
  font-size: 14px;
}

table.tableSection {
  display: table;
  width: 100%;
}

table.tableSection thead, table.tableSection tbody {
  float: left;
  width: 100%;
}

table.tableSection tbody {
  overflow: auto;
  height: 300px;
}

table.tableSection tr {
  width: 100%;
  display: table;
  text-align: left;
}

table.tableSection th, table.tableSection td {
  width: 33%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

#side-menu .subdataset {
  text-decoration: none;
  color: #FFF;
}

.nav-collapse, .nav-collapse.collapse {
  overflow: visible;
}

.nav > li > a {
  padding: 0;
  color: #FFF;
}

#sidebar-nav {
  border: none;
}

@media (max-width: 768px) {
  #sidebar-nav {
    max-height: 250px;
    float: left;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .table-wrapper {
    display: table-cell;
    zoom: 1;
  }
  
  table.table > thead > tr > th {
    white-space: nowrap;
  }

  table.table > tbody > tr > td {
    white-space: nowrap;
  }
}

#trackerRow {
  z-index: 999;
  background-color: #FFF;
}

.datasets {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.datasets.ng-hide-add, .datasets.ng-hide-remove {
  transition: 0s linear all;
}

.datasets.ng-hide {
  opacity: 0;
}

.topbar {
  padding: 0;
}

.nopadding [class^="col-"] {
  padding: 0;
  margin: 0;
}

.nav > li {
  color: #FFF;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: lightslategrey;
}

.dataset-toggle {
  position: relative;
  float: right;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: #f0b327;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-top: 7px;
  padding-right: 6px;
  padding-bottom: 7px;
  padding-left: 6px;
}

.dataset-toggle:hover, .dataset-toggle:focus {
  background-color: lightslategrey !important;
  color: #FFF;
}
